body{
    text-align: center;
    justify-content: center;
}

#info{
    justify-content: center;
}

#header-image{
    width: 90%;
    height: auto;
}

#header-text{
    color: white;
    position: absolute;
    top: 35%;
    left: 36%;
    z-index: 2;
    text-align: center;
    justify-content: center;
}

#navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: auto;
    background-color: black;
    color: white;
    width: 100%;
    z-index: 5;
}

.nav-item{
    padding: 1rem;
}

a{
    text-decoration: none;
    color: inherit;
}

#header-text h1{
    font-size: 3rem;
}

#header-text h3{
    font-size: 1.5rem;
}

#phone-header{
    display: none;
}

@media only screen and (max-width: 800px){
    #navbar{
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0;
        left: auto;
        background-color: black;
        color: white;
        width: 100%;
        flex-wrap: wrap;
        z-index: 5;
    }
    .nav-item{
        padding: 0.5rem;
    }
    #header-image{
        position: relative;
        top: 3rem;
        z-index: 0;
        width: 100%;
        height: auto;
    }
    #header-text{
        display: none;
    }
    #phone-header{
        display: block;
        margin: 3rem;
    }
}

ul{
    text-align: center;
    justify-content: center;
    list-style: none;
}

#sch-table{
    text-align: center;
    justify-content: center;
    width: 100%;
}

.table-item td{
    padding: 0.8rem;
    background-color: rgb(202, 200, 200);
    color: black;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
    transition: 0.4s;
  }
  
.active, .accordion:hover {
    background-color: #ccc; 
  }

.accordion:after {
    content: '\25BC';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
.active:after {
    content: "\25B2";
  }
  
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

ul li{
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-bottom: 0.5rem;
  }

#org-table{
    text-align: center;
    justify-content: center;
    width: 100%;
}

#prog-table{
    text-align: center;
    justify-content: center;
    width: 100%;
}

#footer{
    margin: 2rem auto;
}