.bg-cover {
    background-size: cover !important;
}

*{
    box-sizing: border-box;
}

body{
    text-align: center;
    justify-content: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#info a{
    text-decoration: none;
    color: rgb(9, 107, 70);
    font-weight: bold;
}

#info a:hover{
    color: rgb(9, 165, 9);
}

#info{
    justify-content: center;
    text-align: center;
    /* margin-top: -10rem; */
    max-width: 1024px;
    /* border: solid; */
    margin-left: auto;
    margin-right: auto;
}

#topics ul li{
    text-align: left;
}

#org li, #prog li{
    text-align: left;
}

#overview{
    background-color: rgb(225, 231, 226);
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

.scrollmenu{
    overflow-x: auto;
}

#org, #prog{
    overflow-x: auto;
}

#speakers{
    justify-content: center;
    align-items: center;
}

#sponsor-logo{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

#sponsor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

#footer{
    margin: 2rem auto;
    font-size: 0.7rem;
}