.bg-cover {
    background-size: cover !important;
}

div h1{
    text-align: center;
}
*{
    box-sizing: content-box;
}

#head-container{
    border: solid;
    background-color: rgb(29, 27, 27);
}

body{
    text-align: left;
    justify-content: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main{
    margin: auto 1rem;
    justify-content: left;
}

#header{
    margin-left: auto;
    margin-right: auto;
}

#navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: darkslategrey;
    color: white;
    height: 100%;
    z-index: 5;
    text-align: left;
}

#nav-btn{
    position: fixed;
    top: 0.5rem;
    right: 2rem;
    padding: 0.5rem;
    transition: transform 0.3s ease-in-out;
    display: none;
}

#nav{
    position: fixed;
    top: 0rem;
    right: 0rem;
    background-color: black;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    display: none;
    z-index: 5;
}

#navbar a{
    /*color: rgb(167, 233, 167);*/
    color: whitesmoke;
}

#navbar a:hover{
    color: black;
}

#main #nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#main #nav ul li{
    padding: 1rem 1rem;
    overflow: hidden;
    color: white;
}

#main #nav ul li a{
    text-decoration: inherit;
    color: inherit;
}

#navitem1{
    margin-top: 3rem;
}

#main #nav.active {
    transform: translateX(0%);
    display: block;
}

#main #nav-btn.active {
    transform: translateX(-150px);
}

#header-text a{
    text-decoration: none;
    color: rgb(167, 233, 167);
}

#header-text a:hover{
    text-decoration: underline;
}

#info a{
    text-decoration: none;
    color: rgb(9, 107, 70);
    font-weight: bold;
}

#info a:hover{
    color: rgb(9, 165, 9);
}

#info{
    justify-content: left;
    text-align: left;
    /* margin-top: -10rem; */
    max-width: 1024px;
    /* border: solid; */
    margin-left: auto;
    margin-right: auto;
}

#topics ul li{
    text-align: left;
}

#org li, #prog li{
    text-align: left;
}

#overview{
    background-color: rgb(225, 231, 226);
    padding: 10pt;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

.scrollmenu{
    overflow-x: auto;
}

#org, #prog{
    overflow-x: auto;
}

#speakers{
    justify-content: left;
    align-items: left;
    min-width: 100%;
}

#spk-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

#sponsor-logo{
    height: 100px;
    width: 150px;
}

#sponsor{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-size: 1.5rem;
    font-weight: bold;
}

#footer{
    margin: 2rem auto;
    font-size: 0.7rem;
    text-align: center;
}

#footer-text{
    font-size: 1.2rem;
}

@media only screen and (max-width: 549px){
    #navbar.nph{
        display: none;
    }
    #nav-btn{
        display: block;
    }
    #header{
        margin-top: 2rem;
    }
    .col .spk{
        height: auto;
        max-height: 250pt;
        width: auto;
        margin-right: auto;
        border-radius: 125pt;
    }
    #spk-flex .col .card.h-100{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-width: inherit;
        height: auto;
    }
}

@media only screen and (max-width: 970px) and (min-width: 550px){
    #info{
        justify-content: left;
        text-align: left;
        /* margin-top: -5rem; */
        max-width: 1024px;
        /* border: solid; */
        margin-left: 30vw;
        margin-right: auto;
    }
    #header{
        margin-left: 25vw;
        margin-right: auto;
    }
    .col .spk{
        height: auto;
        max-height: 250pt;
        width: auto;
        margin-right: auto;
        border-radius: 125pt;
    }
    #spk-flex .col .card.h-100{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-width: inherit;
        height: auto;
    }
}

@media only screen and (max-width: 1350px) and (min-width: 971px){
    #info{
        justify-content: left;
        text-align: left;
        /* margin-top: -10rem; */
        max-width: 1024px;
        /* border: solid; */
        margin-left: 18vw;
        margin-right: auto;
    }
    #header{
        margin-left: 15vw;
        margin-right: auto;
    }
}

/* @media only screen and (min-width: 1301px){
    #info{
        justify-content: center;
        text-align: center;
        margin-top: -10rem;
        max-width: 1024px;
        border: solid;
        margin-left: 18vw;
        margin-right: auto;
    }
    #header{
        margin-left: auto;
        margin-right: auto;
    }
} */

.col .spk{
    height: auto;
    width: auto;
    max-height: 180pt;
    margin-left: auto;
    /* border: solid; */
}

.col .card{
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: solid; */
}

#overview, #topics, #speakers, #submissions, #dates, #org, #prog, #accepted, #schedule, #sponsor{
    margin-top: 2rem;
}

.col .card .card-body{
    text-align: center;
    /* border: solid; */
}

.card-body .card-text {
    text-align: left;
}

#spk-flex .col .card.h-100{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: inherit;
    height: auto;
}

.col{
    min-width: 100%;
}