*{
    box-sizing: content-box;
}

body{
    text-align: center;
    justify-content: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header-image{
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
}

#header{
    width: 100%;
}

#header-text h1{
    font-size: 2.5rem;
}

#header-text{
    color: white;
    z-index: 2;
    text-align: center;
    justify-content: center;
    position: relative;
    top: -8rem;
}

a{
    text-decoration: none;
    color: rgb(9, 107, 70);
    font-weight: bold;
}

a:hover{
    color: rgb(9, 165, 9);
}

#navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    height: 100%;
    z-index: 5;
    text-align: left;
}

#navitem1{
    margin-top: 3rem;
}

.nav-item{
    padding: 1rem;
}

#nav-btn{
    position: fixed;
    top: 0.5rem;
    right: 2rem;
    padding: 0.5rem;
    transition: transform 0.3s ease-in-out;
    display: none;
}

#nav{
    position: fixed;
    top: 0rem;
    right: 0rem;
    background-color: black;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    display: none;
    z-index: 5;
}

#nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav ul li{
    padding: 1rem 1rem;
    overflow: hidden;
    color: white;
}

#nav.active {
    transform: translateX(0%);
    display: block;
}

#nav-btn.active {
    transform: translateX(-150px);
}

#navbar a{
    color: rgb(167, 233, 167);
}

#navbar a:hover{
    color: white;
}

#phone-header{
    display: none;
}

#header-text a, #phone-header a{
    color: rgb(167, 233, 167);
}

#header-text a:hover, #phone-header a:hover{
    text-decoration: underline;
}

#info{
    justify-content: center;
    text-align: center;
    margin-top: -5rem;
    max-width: 1024px;
    /* border: solid; */
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(225, 231, 226);
}

#info-nph{
    font-size: 0.8rem;
}

#topics ul li{
    text-align: left;
}

#org li, #prog li{
    text-align: left;
}

@media only screen and (max-width: 549px){
    #navbar{
        display: none;
    }
    .nav-item{
        padding: 0.5rem;
    }
    #header-image{
        position: relative;
        top: 3rem;
        z-index: 0;
        width: 100%;
        height: auto;
    }
    #header-text{
        display: none;
    }
    #phone-header{
        display: block;
        z-index: 2;
        position: relative;
    }
    #phone-header h1{
        font-size: 1.3rem;
        color: white;
    }
    
    #phone-header h3{
        font-size: 0.8rem;
    }

    #nav-btn{
        display: block;
    }
    .nph{
        display: none;
    }
    body{
        text-align: center;
        justify-content: center;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 0.8rem;
        max-width: 100%;
    }
    #info{
        justify-content: center;
        margin-top: 0;
        background-color: rgb(225, 231, 226);
    }
}

@media only screen and (max-width: 910px) and (min-width: 550px){

    #header-text h1{
        font-size: 2rem;
    }
    #header-text{
        color: white;
        z-index: 2;
        text-align: center;
        justify-content: center;
        position: relative;
        top: -5rem;
    }
    #info{
        justify-content: center;
        text-align: center;
        margin-top: -5rem;
        max-width: 1024px;
        /* border: solid; */
        margin-left: 30vw;
        margin-right: auto;
        background-color: rgb(225, 231, 226);
    }
}

@media only screen and (max-width: 1500px) and (min-width: 911px){
    #info{
        justify-content: center;
        text-align: center;
        margin-top: -5rem;
        max-width: 1024px;
        /* border: solid; */
        margin-left: 18vw;
        margin-right: auto;
        background-color: rgb(225, 231, 226);
    }
    body{
        text-align: center;
        justify-content: center;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 0.9rem;
    }
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

.table-item td{
    padding: 0.8rem;
    background-color: rgb(202, 200, 200);
    color: black;
}

#date-table{
    text-align: center;
    justify-content: center;
    width: 100%;
}

.scrollmenu{
    overflow-x: auto;
}

#org, #prog{
    overflow-x: auto;
}

#org-table{
    text-align: center;
    justify-content: center;
    width: 100%;
}

#prog-table{
    text-align: center;
    justify-content: center;
    width: 100%;
}

.speakers{
    width: 250px;
    height: 150px;
}

#spk-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.speaker-item{
    width: 350px;
    height: auto;
    padding: 0.5rem;
    margin: auto 0.5rem;
}

#sponsor-logo{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

#sponsor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

#footer{
    margin: 2rem auto;
    font-size: 0.7rem;
}